<div class="product-detail services-container" *ngIf="product">
    <div class="container">
      <div class="row">
       <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
          <img [src]="product.imageUrl" alt="{{ product.name }}">
       </div>
       <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
          <h2>{{ product.name }}</h2>
          <p>{{ product.description }}</p>
          <span>Price: {{ product.price | currency:'USD':'symbol':'1.2-2' }}</span>
       </div>
       <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
          <img [src]="product.imageUrl" alt="{{ product.name }}">
       </div>         
       <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
          <button (click)="addToCart()">Add to whish list</button>
          <button (click)="buyNow()">Buy Now</button>
       </div>         
      </div>
    </div>
</div>
  
  
