<div class="container landing text-center border-bottom">
    <div class="row  mt-3 mb-3 gy-4">
      <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
        <div class="image-container">
          <!-- boostrap documentation -->
          <div id="carouselSlidesOnly" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="/assets/elephant.png" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="/assets/kilimanjaro.png" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="/assets/giraffe.png" class="d-block w-100" alt="...">
              </div>
            </div>
          </div>
          <div class="bio">
             <h3><b>Find your special tour today</b></h3>
              <h1 class="fs-1 fw-bolder"><span>With Bahari Tours</span></h1>
              <p class="fw-bold fst-italic">Awesome clean tours website</p>
              <a routerLink="/products" class="btn btn-outline-light">View Tours</a>
            </div>
        </div>
      </div>

    </div>
      
      
</div>
<div class="container products-wrapper">
  <div class="app-tours">
    <app-tours></app-tours>
    <app-clothing></app-clothing>
    <app-beverages></app-beverages>
    <app-projects></app-projects>
  </div>
</div>



