<div fxLayout = "row" fxLayoutAlign="start center">
    <div class="heading">
      <h1>Clothes</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
    </div> 
  <div class="services-container">
    <div class="scroll-button">
      <button mat-button (click)="scrollLeft()">&#8249;</button>
    </div>
    
    <div class="cards-wrapper" #cardsWrapper>
      <div class="card" *ngFor="let clothe of clothes">
        <img class="service-image" [src]="clothe.imageUrl" alt="Tour Site Image">
        <h2>{{ clothe.name }}</h2>
        <p>{{ clothe.description }}</p>
        <span>Price: {{ clothe.price | currency:'USD':'symbol':'1.2-2' }}</span>
      </div>
    </div>
    <div>
      <button mat-button class="scroll-button" (click)="scrollRight()">&#8250;</button>
    </div>
    
  </div>
  </div>
  