<div class="section">
    <div class="container">
        <h2>WHY CHOOSE BAHARI TOURS</h2>
        <div class="row">
          <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
            <div class="icon-container">

            </div> 
            <div class="destinations">
                <h5>Diverse Destinations</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae repudiandae eius exercitationem error ullam neque perferendis excepturi possimus fugiat nam natus, autem debitis unde aut a tenetur iure deleniti minima?</p>
            </div>          
          </div>
          <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
            <div class="icon-container">

            </div> 
            <div class="destinations">
                <h5>Value for money</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae repudiandae eius exercitationem error ullam neque perferendis excepturi possimus fugiat nam natus, autem debitis unde aut a tenetur iure deleniti minima?</p>
            </div>   
          </div>
          <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
            <div class="icon-container">

            </div> 
            <div class="destinations">
                <h5>Beautiful Places</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae repudiandae eius exercitationem error ullam neque perferendis excepturi possimus fugiat nam natus, autem debitis unde aut a tenetur iure deleniti minima?</p>
            </div>   
          </div>
          <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
            <div class="icon-container">

            </div> 
            <div class="destinations">
                <h5>Fast Booking</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae repudiandae eius exercitationem error ullam neque perferendis excepturi possimus fugiat nam natus, autem debitis unde aut a tenetur iure deleniti minima?</p>
            </div>   
          </div>
          <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
            <div class="icon-container">

            </div> 
            <div class="destinations">
                <h5>Passionate Travel</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae repudiandae eius exercitationem error ullam neque perferendis excepturi possimus fugiat nam natus, autem debitis unde aut a tenetur iure deleniti minima?</p>
            </div>   
          </div>
          <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
            <div class="icon-container">

            </div> 
            <div class="destinations">
                <h5>Support Team</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae repudiandae eius exercitationem error ullam neque perferendis excepturi possimus fugiat nam natus, autem debitis unde aut a tenetur iure deleniti minima?</p>
            </div>   
          </div>
        </div>
    </div>
</div>
