<app-nav-bar class="nav"></app-nav-bar>
<div class="container cart">
  <h1>Cart</h1>
  <div class="row">
    <table class="table">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">Product</th>
          <th scope="col">Price</th>
          <th scope="col">Quantity</th>
        </tr>
      </thead>
      <tbody *ngFor="let entry of items | keyvalue">
        <tr>
          <th scope="row">
            <img [src]="entry.value.item.imageUrl" alt="product.name" />
          </th>
          <td>
            <span> {{ entry.value.item.name }}</span>
          </td>
          <td>
            <span> {{ entry.value.item.price | currency }}</span>
          </td>
          <td>
            <span> {{ entry.value.quantity }}</span>
          </td>
        </tr>
      </tbody>
    </table>

    <h3>Subtotal Cost: {{ calculateSubtotal() | currency }}</h3>

    <div>
      <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
        <div>
          <label for="name"> Name </label>
          <input id="name" type="text" formControlName="name" />
        </div>

        <div>
          <label for="address"> Address </label>
          <input id="address" type="text" formControlName="address" />
        </div>

        <div>
          <label for="shipping"> Shipping options</label>
          <select
            id="shipping"
            formControlName="shipping"
            (change)="onShippingChange()"
          >
            <option
              *ngFor="let option of shippingOptions"
              [value]="option.type"
            >
              {{ option.type }}: {{ option.price | currency }}
            </option>
          </select>
        </div>

        <h3>Shipping Cost: {{ shippingCost | currency }}</h3>

        <h3>Total Cost: {{ totalCost | currency }}</h3>

        <button class="button" type="submit">Proceed to checkout</button>
      </form>
    </div>
  </div>
</div>
<app-footer class="footer"></app-footer>
